<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, max-age=0"/>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
</head>
<body>
<div class="menu-form">
    <div class="personal-account button">
        <button onclick="window.location.href = 'http://localhost:9001/email/personal';">Личный кабинет</button>
    </div>
    <div class="quit button">
        <button onclick="window.location.href = 'http://localhost:9001/email/exit';">Выход</button>
    </div>
</div>
</body>
</html>
