<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, max-age=0"/>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
</head>
<body>
    <form class="login-div" method="post", action="http://localhost:9001/email/registration">
        <div class="logo"></div>
        <div class="title">Email</div>
        <div class="fields">
            <div class="input-field name">
                <input type="username" class="user-input" name="name" placeholder="username" required minlength="1"/>
            </div>
            <div class="input-field email">
                <input type="email" class="email-input" name="email" placeholder="email" required minlength="1"/>
            </div>
            <div class="input-field password">
                <input type="password" class="pass-input" name="password" placeholder="password" required minlength="8"/>
            </div>
        </div>
        <div class="error">
            <p>Error! This email is already exist in server!</p>
        </div>
        <input type="submit" class="signin-button" value="Sign up"/>
        <div class="link">
            <a href="http://localhost:9001/email">Sign in</a>
        </div>
    </form>
</body>

<script src="../js/registration.js"></script>

</html>
