<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="form">
    <div class="title content">
        <h2>Sign In</h2>
    </div>
    <form class="login-password" method="GET" action="http://localhost:9001/email/sign">
        <div class="login-form">
            <input type="email" name="email" class="login input" placeholder="email" required minlength="1"/>
            <span class="error" aria-live="polite"></span>
        </div>
        <div class="password-form">
            <input type="password" name="password" class="password input" placeholder="password" required minlength="8"/>
        </div>
        <div class="input registration-link">
            <a href="http://localhost:9001/email/registration_form">I haven't account. Create account</a>
        </div>
        <div class="submit">
            <input type="submit" value="Sing in" class="all-size"/>
        </div>
    </form>
</div>
</body>

<script src = "js/sign.js"></script>

</html>