body {
	height: 100%;
	weight: 100%;
}

button {
	font: Ariel;
	color: white;
	font-size: 18px;
	height: 40px;
	width: 200px;
	border-radius: 25px;
	background-color: #2185c5;
	border:none;
	outline:none;
}

button:hover {
	background-color: blue;
}

.button {
	padding:20px 50px;
	color: black;
	width: 100%;
}

.menu-form {
	margin: 200px 800px 0px 800px;
	width: 200px;
	height: 200px;
}
