body {
	height: 100%;
	width: 100%;
}

.form {
	position:absolute;
	margin-top: 5%;
	margin-left:35%;
	height: 40%;
	width: 30%;
	border-color: #2185c5;
	border-style: solid;
	border-width: thin;
}

.content {
	width: 100%;
}

.title {
	background-color: #6f9eff;
	display:table;
	vertical-align:middle;
	text-align:center;
	color:white;
}

.login-password {
	margin: 30px 40px 0px 40px;
}

.input {
	margin: 30px 50px 0px 50px;
	height: 30px;
	width: 80%;
	font-size: 16px;
}

.registration-link {
	text-align:center;
}

.submit {
	margin: 20px 150px 0px 150px;
	background-color: red;
	height: 30px;
}

.all-size {
	position:relative;
	height:100%;
	width: 100%;
}